<header style="background-color: #0079bf;">
    <nav class="navbar navbar-expand-sm navbar-light sticky-top">
    <a class="navbar-brand" href="/">Pusher Realtime Table</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mobile-menu">
        <ul class="navbar-nav mr-auto"></ul>
        <div class="">
          <button class="btn btn-dark">
            HOME
          </button>
        </div>
      </div>
    </nav>
  </header>
